@media only screen and (max-width : 700px){
    h1 {
        font-size: 35px;
    }

    /* Navbar */
    .toggle-btn i {
        display: block;
        position: absolute;
        z-index: 1000; 
    }
    .navbar {
        background:  #E9F9FF;
        height: 400px;
        flex-direction: column;
        display: none;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 auto;
    }
    .mobile-nav {
        display: flex;
        transform-origin: top right;
        animation: anmi 200ms ease-out;
        position: absolute;
        z-index: 100;
    }
    

    .nav-list ul {
        flex-direction: column;

    }
    .nav-list ul li {
        margin-top: 30px;
        text-align: center;
    }
    
    li::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        background-color: black;
        height: 2px;
        border-radius: 100px;
        transform: scaleX(0)
    }
    
    li:hover::after{
        transform: scaleX(1);
        transition: 200ms;
    }

    .header {
        height: 100%;
        margin-top: 120px;
    }
    .header .row {
        flex-direction: column;
    }
    .header .intro {
        padding: 20px;
        order:2;
    }
    

    .header .profile  img{
        max-width: 80%;
        border-radius: 100%;
        order:1;
    }
    
    .navbar .social-icons{
        position:absolute;
        bottom: 5px;
    }
    .navbar .social-icons ul{
        align-items: center;
    }

    .navbar .nav-list ul li {
         margin-top: 25px;
    }
   
.btn{
    text-align: center;
    padding: 10px;
    color: var(--light-pink);
    background-color: var(--h1);
    border-radius: 10px;
}

.circle {
    width: 500px;
    height: 500px;
    background: var(--circle);
    position: absolute;
    top: -40%;
    right: -50%;
    border-radius: 50%;
    z-index: -1;
}

.circle2{
    width: 500px;
    height: 500px;
    background: var(--circle2);
    position: absolute;
    top: 40%;
    left: -70%;
    border-radius: 50%;
    z-index: -1;
    overflow: hidden;
}


.copyright p{
    font-size: 12px;
}  
}

@keyframes anmi {
    from{
        transform: scaleX(0)scaleY(0)scaleZ(0);
    }
    to{
        transform: scaleX(1)scaleY(1)scaleZ(1);
    }
}
